<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBookpictureLabel">Create or edit a Bookpicture</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bookpicture.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bookpicture.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_picture">Picture</label>
            <div>
                <img [src]="'data:' + bookpicture.pictureContentType + ';base64,' + bookpicture.picture" style="max-height: 100px;" *ngIf="bookpicture.picture" alt="bookpicture image"/>
                <div *ngIf="bookpicture.picture" class="form-text text-danger clearfix">
                    <span class="pull-left">{{bookpicture.pictureContentType}}, {{byteSize(bookpicture.picture)}}</span>
                    <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_picture" (change)="setFileData($event, bookpicture, 'picture', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="bookpicture.picture" />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                [(ngModel)]="bookpicture.pictureContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bookId">Book Id</label>
            <input type="number" class="form-control" name="bookId" id="field_bookId"
                [(ngModel)]="bookpicture.bookId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
