<div>
    <h2>
        <span>Bookpictures</span>
        <button class="btn btn-primary float-right jh-create-entity create-bookpicture" [routerLink]="['/', { outlets: { popup: ['bookpicture-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Bookpicture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bookpictures">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="picture"><span>Picture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bookId"><span>Book Id</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bookpicture of bookpictures ;trackBy: trackId">
                <td><a [routerLink]="['../bookpicture', bookpicture.id ]">{{bookpicture.id}}</a></td>
                <td>
                    <a *ngIf="bookpicture.picture" (click)="openFile(bookpicture.pictureContentType, bookpicture.picture)">
                        <img [src]="'data:' + bookpicture.pictureContentType + ';base64,' + bookpicture.picture" style="max-height: 30px;" alt="bookpicture image"/>
                    </a>
                    <span *ngIf="bookpicture.picture">{{bookpicture.pictureContentType}}, {{byteSize(bookpicture.picture)}}</span>
                </td>
                <td>{{bookpicture.bookId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bookpicture', bookpicture.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bookpicture/'+ bookpicture.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bookpicture/'+ bookpicture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="bookpictures && bookpictures.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
